@{
    ViewData["Title"] = "FourBlog";
}

<div class="text-center">
    <h1 class="display-4">Seja bem vindo!</h1>
    <h5>Acesse todas as postagens <a asp-controller="Postagem" asp-action="Index">Clicando aqui</a>.</h5>
</div>
