@inject SignInManager<Usuario> SignInManager
@model PostagemViewModel

@{
    ViewData["Title"] = "Editar Postagem";
}

<a asp-action="Visualizar" asp-route-id="@Model.Postagem.PostagemId" class="d-flex text-decoration-none">
    <i class="fa-solid fa-circle-left fa-2x me-2"></i>
    Voltar para a postagem
</a>

<div class="text-center my-3">
<h3>Editar a postagem '@Model.Postagem.Titulo'</h3>
</div>

<form asp-action="Editar">
    <div class="card mb-5 mx-auto w-50">
        <div class="card-header">
            <div class="row">
                <div class="col">
                    <select asp-for="Postagem.TagId" asp-items="Model.Tags" class="badge rounded-pill bg-primary" required>
                    </select>
                    <span asp-validation-for="Postagem.TagId" class="text-danger"></span>
                </div>
                <div class="col text-end">
                    @if (SignInManager.UserManager.GetUserId(User) == Model.Postagem.UsuarioId)
                    {
                        <a href="#" data-bs-toggle="modal" data-bs-target="#modalRemover"><i class="fa-solid fa-trash"></i></a>
                    }
                </div>
            </div>
        </div>
        <input type="hidden" asp-for="Postagem.PostagemId" />
        <input type="hidden" asp-for="Postagem.DataCriacao" />
        <input type="hidden" asp-for="Postagem.UsuarioId" />
        <input type="hidden" asp-for="Postagem.TagId" />

        <div class="card-body">
            <div class="form-floating mb-3">
                <input asp-for="Postagem.Titulo" class="form-control" required />
                <label asp-for="Postagem.Titulo" class="form-label"></label>
                <span asp-validation-for="Postagem.Titulo" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <textarea asp-for="Postagem.Texto" class="form-control" rows="3" required></textarea>
                <label asp-for="Postagem.Texto" class="form-label"></label>
                <span asp-validation-for="Postagem.Texto" class="text-danger"></span>
            </div>
        </div>
        <div class="card-footer text-center">
            <button type="submit" class="btn btn-success">Salvar edição</button>
        </div>
    </div>
</form>

<!-- Modal -->
<div class="modal fade" id="modalRemover" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Remover Postagem?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                Deseja realmente remover esta postagem?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <form asp-action="Remover" asp-route-id="@Model.Postagem.PostagemId">
                    <button type="submit" class="btn btn-danger">Remover</button>
                </form>
            </div>
        </div>
    </div>
</div>
</div>
