html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    caret-color: transparent;
}

.text-justify {
    text-align: justify;
}

.btn-fixed {
    position: fixed;
    bottom: 50px;
    right: 30px;
}

.hide {
    display: none;
}

.btn-fixed:hover > .hide {
    display:block;
    position:absolute;
}

.navbar-brand:hover {
    transform:scale(1.1);
}

.nav-item:hover {
    transform:scale(1.1);
}